{% sw_extends '@Storefront/storefront/utilities/offcanvas.html.twig' %}

  {% block utilities_offcanvas_content %}
      <h2>{{ page.product.customFields.custom_training_text|raw }}</h2>

  {% endblock %}
