{% sw_extends '@Storefront/storefront/page/product-detail/index.html.twig' %}


{% block page_product_detail_content %}
 {{ dump(page.product) }}
    {% if page.product.extension('slaleyePblrBundles').elements|length > 0 %}
        <div class="badge badge-primary">{{ "slaleye-product-bundler.detail.bundleBadge"|trans }}</div>
    {% endif %}

    {{ parent() }}

{% endblock %}