{% sw_extends '@Storefront/storefront/layout/header/logo.html.twig' %}

{% block layout_header_logo_image %}
    {{ parent() }}
    <h2 class="logo-image__subtitle">An awesome Shop</h2>
{% endblock %}
